<h1>You're in the users#new to create a new user. This file is located in 'app/views/users/new.html.erb</h1>'

<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>
    <%= form.file_field :image %>
    <div class="submit-field">
      <%= form.submit %>
    </div>

    <div class="other-links">
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>

    
  <% end %>
</div>

